Package: hk.kennytm.cangjie
Name: Cangjie
Version: 0.2-3
Architecture: iphoneos-arm
Description: "Cangjie" (倉頡) is a popular IME for traditional Chinese. This packages include the 3rd and 5th version of Cangjie.
Homepage: http://code.google.com/p/networkpx/wiki/Using_Cangjie
Maintainer: KennyTM~ <kennytm+Cangjie@gmail.com>
Author: KennyTM~ <kennytm+Cangjie@gmail.com>
Section: Keyboards
Depends: hk.kennytm.ikeyex (>=0.2)
Installed-Size: 340
Support: http://code.google.com/p/networkpx/wiki/FAQ
dev: kennytm
