<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoSubmitted</key>
	<true/>
	<key>SysInfoCrashReporterKey</key>
	<string>f8a55ec702569a416817f14a1426f5aba0e94976</string>
	<key>bug_type</key>
	<string>109</string>
	<key>description</key>
	<string>Incident Identifier: 24908444-0C98-4DFE-93D0-C7C3D5CAF9F0
CrashReporter Key:   f8a55ec702569a416817f14a1426f5aba0e94976
Process:         SpringBoard [1249]
Path:            /System/Library/CoreServices/SpringBoard.app/SpringBoard
Identifier:      SpringBoard
Version:         ??? (???)
Code Type:       ARM (Native)
Parent Process:  launchd [1]

Date/Time:       2009-07-24 04:44:50.961 +0800
OS Version:      iPhone OS 3.0 (7A341)
Report Version:  104

Exception Type:  EXC_CRASH (SIGABRT)
Exception Codes: 0x00000000, 0x00000000
Crashed Thread:  1

Thread 0:
0   libSystem.B.dylib             	0x31dd594c 0x31d46000 + 588108
1   libSystem.B.dylib             	0x31dd593a 0x31d46000 + 588090
2   libSystem.B.dylib             	0x31dd592e 0x31d46000 + 588078
3   MobileSubstrate.dylib         	0x0011fcb4 0x11e000 + 7348
4   libSystem.B.dylib             	0x31dd3604 0x31d46000 + 579076
5   libSystem.B.dylib             	0x31dd593a 0x31d46000 + 588090
6   libSystem.B.dylib             	0x31dd592e 0x31d46000 + 588078
7   libSystem.B.dylib             	0x31deccf8 0x31d46000 + 683256
8   libstdc++.6.dylib             	0x374ef840 0x3748a000 + 415808
9   libobjc.A.dylib               	0x300166b8 0x3000c000 + 42680
10  libstdc++.6.dylib             	0x374ecf34 0x3748a000 + 405300
11  libstdc++.6.dylib             	0x374ecfac 0x3748a000 + 405420
12  libstdc++.6.dylib             	0x374ed0d4 0x3748a000 + 405716
13  libobjc.A.dylib               	0x300165dc 0x3000c000 + 42460
14  CoreFoundation                	0x30224020 0x301fd000 + 159776
15  CoreFoundation                	0x30223fc0 0x301fd000 + 159680
16  Foundation                    	0x30521dea 0x30501000 + 134634
17  Foundation                    	0x30547bc8 0x30501000 + 289736
18  %GriP.dylib                   	0x00160588 0x15a000 + 25992
19  UIKit                         	0x30a3ca68 0x308ed000 + 1374824
20  UIKit                         	0x30991fa4 0x308ed000 + 675748
21  UIKit                         	0x30a3d020 0x308ed000 + 1376288
22  UIKit                         	0x30b3b40c 0x308ed000 + 2417676
23  UIKit                         	0x309741f0 0x308ed000 + 553456
24  UIKit                         	0x30973d90 0x308ed000 + 552336
25  UIKit                         	0x309a7468 0x308ed000 + 762984
26  UIKit                         	0x309a72c8 0x308ed000 + 762568
27  UIKit                         	0x309a7a0c 0x308ed000 + 764428
28  UIKit                         	0x309a77e8 0x308ed000 + 763880
29  UIKit                         	0x30a3667c 0x308ed000 + 1349244
30  UIKit                         	0x30a34f64 0x308ed000 + 1343332
31  UIKit                         	0x309a60d4 0x308ed000 + 757972
32  UIKit                         	0x309a5464 0x308ed000 + 754788
33  UIKit                         	0x30936e3c 0x308ed000 + 302652
34  UIKit                         	0x30936874 0x308ed000 + 301172
35  GraphicsServices              	0x32046964 0x32041000 + 22884
36  CoreFoundation                	0x30254a70 0x301fd000 + 359024
37  CoreFoundation                	0x30254164 0x301fd000 + 356708
38  GraphicsServices              	0x3204529c 0x32041000 + 17052
39  UIKit                         	0x308f0374 0x308ed000 + 13172
40  UIKit                         	0x308eea8c 0x308ed000 + 6796
41  SpringBoard                   	0x000035d8 0x1000 + 9688
42  SpringBoard                   	0x000032dc 0x1000 + 8924

Thread 1 Crashed:
0   libSystem.B.dylib             	0x31d47158 0x31d46000 + 4440
1   libSystem.B.dylib             	0x31d49ed8 0x31d46000 + 16088
2   QuartzCore                    	0x32971824 0x3291c000 + 350244
3   QuartzCore                    	0x329b73d4 0x3291c000 + 635860
4   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 2:
0   libSystem.B.dylib             	0x31d47158 0x31d46000 + 4440
1   libSystem.B.dylib             	0x31d49ed8 0x31d46000 + 16088
2   CoreFoundation                	0x3025454e 0x301fd000 + 357710
3   CoreFoundation                	0x3020d258 0x301fd000 + 66136
4   QuartzCore                    	0x3299f7f4 0x3291c000 + 538612
5   QuartzCore                    	0x329b73d4 0x3291c000 + 635860
6   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 3:
0   libSystem.B.dylib             	0x31d47158 0x31d46000 + 4440
1   libSystem.B.dylib             	0x31d49ed8 0x31d46000 + 16088
2   libSystem.B.dylib             	0x31de16ac 0x31d46000 + 636588
3   IOKit                         	0x318bfe58 0x31885000 + 241240
4   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 4:
0   libSystem.B.dylib             	0x31d47158 0x31d46000 + 4440
1   libSystem.B.dylib             	0x31d49ed8 0x31d46000 + 16088
2   CoreFoundation                	0x3025454e 0x301fd000 + 357710
3   CoreFoundation                	0x3020d258 0x301fd000 + 66136
4   IOKit                         	0x318bbf24 0x31885000 + 225060
5   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 5:
0   libSystem.B.dylib             	0x31d47158 0x31d46000 + 4440
1   libSystem.B.dylib             	0x31d49ed8 0x31d46000 + 16088
2   CoreFoundation                	0x3025454e 0x301fd000 + 357710
3   CoreFoundation                	0x30254164 0x301fd000 + 356708
4   SMSCTServer                   	0x36f1ce4a 0x36f1a000 + 11850
5   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 6:
0   libSystem.B.dylib             	0x31d47158 0x31d46000 + 4440
1   libSystem.B.dylib             	0x31d49ed8 0x31d46000 + 16088
2   CoreFoundation                	0x3025454e 0x301fd000 + 357710
3   CoreFoundation                	0x30254164 0x301fd000 + 356708
4   SMSCTServer                   	0x36f1c0f4 0x36f1a000 + 8436
5   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 7:
0   libSystem.B.dylib             	0x31d76c0c 0x31d46000 + 199692
1   CoreFoundation                	0x30212722 0x301fd000 + 87842
2   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 8:
0   libSystem.B.dylib             	0x31d47158 0x31d46000 + 4440
1   libSystem.B.dylib             	0x31d49ed8 0x31d46000 + 16088
2   MediaToolbox                  	0x34822a80 0x34819000 + 39552
3   libSystem.B.dylib             	0x31d705a0 0x31d46000 + 173472

Thread 1 crashed with ARM Thread State:
    r0: 0x10004005    r1: 0x00000006      r2: 0x00000000      r3: 0x00001000
    r4: 0x00002403    r5: 0x00000000      r6: 0x00000000      r7: 0x0061feb4
    r8: 0x00000000    r9: 0x398872b0     r10: 0x00000006     r11: 0x00001000
    ip: 0xffffffe1    sp: 0x0061fe78      lr: 0x31d49ee0      pc: 0x31d47158
  cpsr: 0x20000010

Binary Images:
    0x1000 -    0xd7fff  SpringBoard armv6  &lt;e0166bb2d42cbc489ace07849c959088&gt; /System/Library/CoreServices/SpringBoard.app/SpringBoard
  0x11e000 -   0x121fff +MobileSubstrate.dylib armv6  /Library/MobileSubstrate/MobileSubstrate.dylib
  0x13a000 -   0x13afff +FakePushNotificationServer.dylib armv6  &lt;713241d3f3e926c3c9cff84c7ddaeb3a&gt; /Library/MobileSubstrate/DynamicLibraries/FakePushNotificationServer.dylib
  0x13e000 -   0x13ffff  dns.so armv6  &lt;7943354b648b9518f46a835d5359e45a&gt; /usr/lib/info/dns.so
  0x15a000 -   0x167fff +%GriP.dylib armv6  &lt;293149f6ef84ed61c7ddca8f8ed697e3&gt; /Library/MobileSubstrate/DynamicLibraries/%GriP.dylib
  0x171000 -   0x179fff  libGriP.dylib armv6  &lt;3ee63b031f8a24bff5b11bb10a49a2cb&gt; /usr/lib/libGriP.dylib
  0x182000 -   0x183fff +GriPPushNotification.dylib armv6  &lt;2ec1f39cc7b6dc781fc358b5f909eeea&gt; /Library/MobileSubstrate/DynamicLibraries/GriPPushNotification.dylib
  0x187000 -   0x188fff +MailToAttachmentMessageUI.dylib arm  /Library/MobileSubstrate/DynamicLibraries/MailToAttachmentMessageUI.dylib
  0x18b000 -   0x18bfff +MemoryWatcher.dylib armv6  &lt;891739d40e0ebfebd34771e2a02d329d&gt; /Library/MobileSubstrate/DynamicLibraries/MemoryWatcher.dylib
  0x18e000 -   0x18ffff +RotationInhibitor.dylib arm  &lt;e1b09b53da5311409db5d8c804010116&gt; /Library/MobileSubstrate/DynamicLibraries/RotationInhibitor.dylib
  0x192000 -   0x19ffff +SBSettings.dylib armv6  &lt;38764975cd024d907280ef06678d8757&gt; /Library/MobileSubstrate/DynamicLibraries/SBSettings.dylib
  0x1b1000 -   0x1b2fff +Toggle.dylib arm  &lt;211a531d60fc7a3d1a2265e8c28cfc58&gt; /var/mobile/Library/SBSettings/Toggles/Brightness/Toggle.dylib
  0x1b5000 -   0x1b7fff +Toggle.dylib arm  &lt;cab261a3b0c17d499ac6519610ffca5c&gt; /var/mobile/Library/SBSettings/Toggles/Processes/Toggle.dylib
  0x1bb000 -   0x1bdfff +Toggle.dylib arm  &lt;42f79ab3e5b5a2f0d8faf17aaf76ab74&gt; /var/mobile/Library/SBSettings/Toggles/Wi-Fi/Toggle.dylib
  0x1c0000 -   0x1c1fff +Toggle.dylib arm  &lt;f6d1e87ad24f383131bb4a01894fb0fe&gt; /var/mobile/Library/SBSettings/Toggles/Syslog/Toggle.dylib
 0x372f000 -  0x3739fff  IOHIDLib armv6  &lt;36ef82cd53058a03f1f457c9b950ddc4&gt; /System/Library/Extensions/IOHIDFamily.kext/PlugIns/IOHIDLib.plugin/IOHIDLib
 0x3743000 -  0x374bfff  MultitouchHID armv6  &lt;6c91d0b36a6c032e32c5f4c8e279412c&gt; /System/Library/Extensions/AppleMultitouchSPI.kext/PlugIns/MultitouchHID.plugin/MultitouchHID
0x115c6000 - 0x115f5fff  MBXGLEngine armv6  &lt;dc13b685f33780eff0218e8a990b79dd&gt; /System/Library/Frameworks/OpenGLES.framework/MBXGLEngine.bundle/MBXGLEngine
0x116b2000 - 0x116b5fff +Default armv6  &lt;75d8d80de539f8215993183820f30c46&gt; /Library/GriP/Themes/Default.griptheme/Default
0x20000000 - 0x20022fff  iCosta.dylib arm  &lt;2fc64ee8c578e7c284aeee0602b99653&gt; /usr/lib/iCosta.dylib
0x2fe00000 - 0x2fe26fff  dyld armv6  &lt;384bf84ebe2b822c3cb75fce3e8647d6&gt; /usr/lib/dyld
0x30000000 - 0x30008fff  libgcc_s.1.dylib armv6  &lt;b404b5f84fa4293f0dd35a469b8b6894&gt; /usr/lib/libgcc_s.1.dylib
0x3000c000 - 0x3015bfff  libobjc.A.dylib armv6  &lt;92636cf8b8e8f3c10721667c48ca182b&gt; /usr/lib/libobjc.A.dylib
0x301ca000 - 0x301d8fff  libz.1.dylib armv6  &lt;bb2c65d59f36ea2ffdf39aa4d8e49430&gt; /usr/lib/libz.1.dylib
0x301fd000 - 0x302a8fff  CoreFoundation armv6  &lt;3e02f5628a56bce4c9eb1c5e49c863d4&gt; /System/Library/Frameworks/CoreFoundation.framework/CoreFoundation
0x3036e000 - 0x3038dfff  Bom armv6  &lt;e126f820dc5fc447dafc66aaab19914a&gt; /System/Library/PrivateFrameworks/Bom.framework/Bom
0x304fb000 - 0x304fbfff  libIOAccessoryManager.dylib armv6  &lt;d82442b0013afaa93c22f54e4df5abfa&gt; /usr/lib/libIOAccessoryManager.dylib
0x30501000 - 0x305f5fff  Foundation armv6  &lt;c4fc557994aee708dd4fb14ed4fd875f&gt; /System/Library/Frameworks/Foundation.framework/Foundation
0x3071d000 - 0x30729fff  CoreVideo armv6  &lt;5404da375ad190f3e1404e5e8a70f764&gt; /System/Library/PrivateFrameworks/CoreVideo.framework/CoreVideo
0x3073a000 - 0x30760fff  AppSupport armv6  &lt;1baa1e22eb94eb405d724a2f6b219f53&gt; /System/Library/PrivateFrameworks/AppSupport.framework/AppSupport
0x30778000 - 0x3077dfff  liblockdown.dylib armv6  &lt;e4f0b16194fac3bd426e679a3c35c38b&gt; /usr/lib/liblockdown.dylib
0x308ed000 - 0x31521fff  UIKit armv6  &lt;73cf70d65e1afef2a6ae94fb81bf2fe4&gt; /System/Library/Frameworks/UIKit.framework/UIKit
0x316ff000 - 0x31778fff  AddressBookUI armv6  &lt;d3e22e0639428351c4b80a5fa19f7401&gt; /System/Library/Frameworks/AddressBookUI.framework/AddressBookUI
0x31885000 - 0x318d1fff  IOKit armv6  &lt;56ba629c062ac21a045914430412c5f4&gt; /System/Library/Frameworks/IOKit.framework/Versions/A/IOKit
0x318e9000 - 0x31aa2fff  CoreGraphics armv6  &lt;80bccae4ab17a49f7fc3a66bb2def894&gt; /System/Library/Frameworks/CoreGraphics.framework/CoreGraphics
0x31af1000 - 0x31b58fff  CFNetwork armv6  &lt;863076d9b768c76272e3f0f686ca355d&gt; /System/Library/Frameworks/CFNetwork.framework/CFNetwork
0x31bb2000 - 0x31bc8fff  OpenGLES armv6  &lt;2c30348868df45d3b8e0e398e0e4f727&gt; /System/Library/Frameworks/OpenGLES.framework/OpenGLES
0x31bcf000 - 0x31cccfff  JavaScriptCore armv6  &lt;619918c7282aa5b53ac3ad32c320b7a5&gt; /System/Library/PrivateFrameworks/JavaScriptCore.framework/JavaScriptCore
0x31d46000 - 0x31e69fff  libSystem.B.dylib armv6  &lt;f8d95df9776974bbe640911fee96c59d&gt; /usr/lib/libSystem.B.dylib
0x31ea9000 - 0x31feffff  AudioToolbox armv6  &lt;cd7d22e01299f0d589878c2417c7ff18&gt; /System/Library/Frameworks/AudioToolbox.framework/AudioToolbox
0x32041000 - 0x3204bfff  GraphicsServices armv6  &lt;99b0baa68c257ca5d2fed21bd409ea20&gt; /System/Library/PrivateFrameworks/GraphicsServices.framework/GraphicsServices
0x3209b000 - 0x320cefff  Security armv6  &lt;34c21a865d91e9a13477e9395c516f8c&gt; /System/Library/Frameworks/Security.framework/Security
0x320e8000 - 0x32194fff  ImageIO armv6  &lt;44921d26b2b796c2c707c87c68026b16&gt; /System/Library/PrivateFrameworks/ImageIO.framework/ImageIO
0x321b3000 - 0x321d9fff  MobileSync armv6  &lt;784e8d709e4dcd3306c6925ad711e629&gt; /System/Library/PrivateFrameworks/MobileSync.framework/MobileSync
0x321e9000 - 0x32208fff  EAP8021X armv6  &lt;e3c06e74781275e39aef98d27b9d4035&gt; /System/Library/PrivateFrameworks/EAP8021X.framework/EAP8021X
0x32212000 - 0x32219fff  BluetoothManager armv6  &lt;b6a1c1d855d6ce743c16d3f47d67e754&gt; /System/Library/PrivateFrameworks/BluetoothManager.framework/BluetoothManager
0x32287000 - 0x322a3fff  Preferences armv6  &lt;3224908bd4baa55c1b194c4f3bb7d5d6&gt; /System/Library/PrivateFrameworks/Preferences.framework/Preferences
0x322b8000 - 0x322c4fff  IAP armv6  &lt;7afee4dfb2d5a46e6d584a9135136dcb&gt; /System/Library/PrivateFrameworks/IAP.framework/IAP
0x32369000 - 0x3239cfff  SystemConfiguration armv6  &lt;c295ae48e7c85c02ae396f3dae1901df&gt; /System/Library/Frameworks/SystemConfiguration.framework/SystemConfiguration
0x323b2000 - 0x323b4fff  ArtworkCache armv6  &lt;f3574710ab358f236c4cd039204bd7cd&gt; /System/Library/PrivateFrameworks/ArtworkCache.framework/ArtworkCache
0x323b8000 - 0x323bdfff  ITSync armv6  &lt;6f40b01e64146f50f6c31ad1cd7b17f5&gt; /System/Library/PrivateFrameworks/ITSync.framework/ITSync
0x323c3000 - 0x3247ffff  MusicLibrary armv6  &lt;56ae50f0ae3a1059bf6601be8ba57e23&gt; /System/Library/PrivateFrameworks/MusicLibrary.framework/MusicLibrary
0x324c6000 - 0x32521fff  CoreAudio armv6  &lt;a3189b3cffe9fdb8007e8a4fd54b28e2&gt; /System/Library/Frameworks/CoreAudio.framework/CoreAudio
0x3253a000 - 0x3256ffff  iTunesStore armv6  &lt;7573749090c8e7bf629226db94181faa&gt; /System/Library/PrivateFrameworks/iTunesStore.framework/iTunesStore
0x325a3000 - 0x325aafff  MobileMusicPlayer armv6  &lt;3a848896e4c7cd3291e6346b4fdfc60e&gt; /System/Library/PrivateFrameworks/MobileMusicPlayer.framework/MobileMusicPlayer
0x325af000 - 0x325affff  DataMigration armv6  &lt;28d5f18d444efa49a8f2ee9302303b47&gt; /System/Library/PrivateFrameworks/DataMigration.framework/DataMigration
0x325b2000 - 0x325cefff  AddressBook armv6  &lt;3023a336aec321324b5a310ee66687f1&gt; /System/Library/Frameworks/AddressBook.framework/AddressBook
0x32709000 - 0x32740fff  CoreTelephony armv6  &lt;6ef5cd342dee1dcb8d53a54658aee417&gt; /System/Library/PrivateFrameworks/CoreTelephony.framework/CoreTelephony
0x32773000 - 0x3282afff  Message armv6  &lt;eee80a69c511469dacda86ea4abc5cc8&gt; /System/Library/PrivateFrameworks/Message.framework/Message
0x328a1000 - 0x328dffff  MessageUI armv6  &lt;7c4f809b7c62a5b3f99fd093d53b9899&gt; /System/Library/Frameworks/MessageUI.framework/MessageUI
0x32906000 - 0x32915fff  MobileBluetooth armv6  &lt;3c13b54df1282878fe8dfe5f4fd7e6bd&gt; /System/Library/PrivateFrameworks/MobileBluetooth.framework/MobileBluetooth
0x3291c000 - 0x329c4fff  QuartzCore armv6  &lt;1cf2a12e661e1a49f90553b013283b29&gt; /System/Library/Frameworks/QuartzCore.framework/QuartzCore
0x32a0f000 - 0x32a11fff  CrashReporterSupport armv6  &lt;eded24caed1de0629bce554de6618644&gt; /System/Library/PrivateFrameworks/CrashReporterSupport.framework/CrashReporterSupport
0x32a16000 - 0x32a16fff  CoreSurface armv6  &lt;2c60135f696b1a787443c4a68e1aced2&gt; /System/Library/PrivateFrameworks/CoreSurface.framework/CoreSurface
0x32a1b000 - 0x32a1cfff  IOMobileFramebuffer armv6  &lt;05aa0565d0f6813003dc5dc175af6048&gt; /System/Library/PrivateFrameworks/IOMobileFramebuffer.framework/IOMobileFramebuffer
0x32a20000 - 0x32a2ffff  MultitouchSupport armv6  &lt;bd3eaf0c93f3c45134c117431013a4e4&gt; /System/Library/PrivateFrameworks/MultitouchSupport.framework/MultitouchSupport
0x32a38000 - 0x32a73fff  Calendar armv6  &lt;bad4a9d669b2597059424e547eeec039&gt; /System/Library/PrivateFrameworks/Calendar.framework/Calendar
0x32a8f000 - 0x32a98fff  VisualVoicemail armv6  &lt;b67c00c13365c2edf790e0c60706c48d&gt; /System/Library/PrivateFrameworks/VisualVoicemail.framework/VisualVoicemail
0x32aa2000 - 0x32ab3fff  TelephonyUI armv6  &lt;49f39720797b42f6033ff1cce19abd66&gt; /System/Library/PrivateFrameworks/TelephonyUI.framework/TelephonyUI
0x32e0c000 - 0x32f0dfff  libicucore.A.dylib armv6  &lt;3f78cbbe6b5b7d3b4c5753627fcebdee&gt; /usr/lib/libicucore.A.dylib
0x32fdf000 - 0x330d3fff  libiconv.2.dylib armv6  &lt;70e454f466d84fb820807a3601623f4a&gt; /usr/lib/libiconv.2.dylib
0x330d8000 - 0x330e3fff  libbz2.1.0.dylib armv6  &lt;8e880791fc827ae2cb63cad8f6ce5d7b&gt; /usr/lib/libbz2.1.0.dylib
0x3311e000 - 0x33213fff  libxml2.2.dylib armv6  &lt;3398aecf5ef07d7bbe6673fc9ab570fb&gt; /usr/lib/libxml2.2.dylib
0x332c9000 - 0x33372fff  WebKit armv6  &lt;d5aabd50737ee994787181afaf83c81e&gt; /System/Library/PrivateFrameworks/WebKit.framework/WebKit
0x333d1000 - 0x3341bfff  Celestial armv6  &lt;96b1b3694ad778d3ae6731646fcfdd8f&gt; /System/Library/PrivateFrameworks/Celestial.framework/Celestial
0x3358f000 - 0x3363bfff  DataAccess armv6  &lt;5cbeac5522cbe75e90c99906b5b5ae05&gt; /System/Library/PrivateFrameworks/DataAccess.framework/DataAccess
0x336be000 - 0x336e2fff  ManagedConfiguration armv6  &lt;db5e59168eb30f69a152e82527f25180&gt; /System/Library/PrivateFrameworks/ManagedConfiguration.framework/ManagedConfiguration
0x33703000 - 0x33774fff  MediaPlayer armv6  &lt;a21571cb4fbdc63953e6147af82cf9f8&gt; /System/Library/Frameworks/MediaPlayer.framework/MediaPlayer
0x33851000 - 0x3388efff  libCGFreetype.A.dylib armv6  &lt;5ff3f70d08b55ca7417766d4a6ba2fc2&gt; /System/Library/Frameworks/CoreGraphics.framework/Resources/libCGFreetype.A.dylib
0x3389a000 - 0x3389dfff  MobileInstallation armv6  &lt;f886e8377d1af59ff0c99469e8b1b105&gt; /System/Library/PrivateFrameworks/MobileInstallation.framework/MobileInstallation
0x33eff000 - 0x33f11fff  libmis.dylib armv6  &lt;68e630756ffe7c785929b8b11f67b803&gt; /usr/lib/libmis.dylib
0x3412b000 - 0x3414dfff  libRIP.A.dylib armv6  &lt;bd577e4e309c7270149cc7765aac1625&gt; /System/Library/Frameworks/CoreGraphics.framework/Resources/libRIP.A.dylib
0x3415c000 - 0x34165fff  SpringBoardServices armv6  &lt;4997adf422af4a9eecf25aa9bcaf8fc9&gt; /System/Library/PrivateFrameworks/SpringBoardServices.framework/SpringBoardServices
0x346e9000 - 0x346f5fff  DataAccessExpress armv6  &lt;d311d4de364a902ec0c0dc22079f8d73&gt; /System/Library/PrivateFrameworks/DataAccessExpress.framework/DataAccessExpress
0x34701000 - 0x3470bfff  PersistentConnection armv6  &lt;4aa4e58f339a0344d7e86847e54c907d&gt; /System/Library/PrivateFrameworks/PersistentConnection.framework/PersistentConnection
0x34716000 - 0x3475afff  CoreMedia armv6  &lt;7a9f4f7fe16ca10d9471c3248a103358&gt; /System/Library/PrivateFrameworks/CoreMedia.framework/CoreMedia
0x34775000 - 0x347b1fff  VideoToolbox armv6  &lt;4f3e66df51223dbc5232d7fb5c82113a&gt; /System/Library/PrivateFrameworks/VideoToolbox.framework/VideoToolbox
0x347f5000 - 0x34812fff  libresolv.9.dylib armv6  &lt;7e34a4dd5c5b0400d10b01e998d5b2de&gt; /usr/lib/libresolv.9.dylib
0x34819000 - 0x3491ffff  MediaToolbox armv6  &lt;ac956cf60c108068fbb7e90b0dc4792a&gt; /System/Library/PrivateFrameworks/MediaToolbox.framework/MediaToolbox
0x34c0e000 - 0x34c14fff  MBX2D armv6  &lt;6815ceba8853af0095f160b6d3c88937&gt; /System/Library/PrivateFrameworks/MBX2D.framework/MBX2D
0x34c25000 - 0x34c25fff  SpringBoardUI armv6  &lt;05fa8906636e59ba28e1f29277b42e2f&gt; /System/Library/PrivateFrameworks/SpringBoardUI.framework/SpringBoardUI
0x351e1000 - 0x351ecfff  DataDetectorsCore armv6  &lt;28b1cc12be0a3de3471493a00f9771bd&gt; /System/Library/PrivateFrameworks/DataDetectorsCore.framework/DataDetectorsCore
0x35522000 - 0x35525fff  ActorKit armv6  &lt;c9043ba911b8bc95ffdc28f299caf609&gt; /System/Library/PrivateFrameworks/ActorKit.framework/ActorKit
0x3553e000 - 0x3557bfff  CoreText armv6  &lt;c584fae4a8877461b1fc27879ac762bc&gt; /System/Library/PrivateFrameworks/CoreText.framework/CoreText
0x355c8000 - 0x355ccfff  IOSurface armv6  &lt;d2585af66f593d95adf6d1fab0181b1a&gt; /System/Library/PrivateFrameworks/IOSurface.framework/IOSurface
0x355d3000 - 0x35626fff  ChatKit armv6  &lt;53b2984f0a059d7817239d4aeb1cc53d&gt; /System/Library/PrivateFrameworks/ChatKit.framework/ChatKit
0x356e1000 - 0x3570bfff  MIME armv6  &lt;4c2a074d32afce77a502835f5247874a&gt; /System/Library/PrivateFrameworks/MIME.framework/MIME
0x3578d000 - 0x357a2fff  VoiceServices armv6  &lt;25639ec1b5181a7f4eeeed50d11799b2&gt; /System/Library/PrivateFrameworks/VoiceServices.framework/VoiceServices
0x357b3000 - 0x357eafff  TextInput armv6  &lt;66ebc62e2a28a7a3ad47539cb6e7db47&gt; /System/Library/PrivateFrameworks/TextInput.framework/TextInput
0x3580b000 - 0x35f5afff  WebCore armv6  &lt;98f065e46e4c230bf091abaf6da60c16&gt; /System/Library/PrivateFrameworks/WebCore.framework/WebCore
0x363b2000 - 0x363f7fff  iCalendar armv6  &lt;51ba8755f9baa9d02517cd9e80a87d78&gt; /System/Library/PrivateFrameworks/iCalendar.framework/iCalendar
0x36422000 - 0x3647cfff  libsqlite3.dylib armv6  &lt;456f75f502443d281147f36f6ed4c3d3&gt; /usr/lib/libsqlite3.dylib
0x36483000 - 0x36485fff  Notes armv6  &lt;de15dc9ba3e18a4d962ceb876fc9a2b5&gt; /System/Library/PrivateFrameworks/Notes.framework/Notes
0x3648a000 - 0x36493fff  libkxld.dylib armv6  &lt;2528ee7a4fd041090850f1845c393b84&gt; /usr/lib/system/libkxld.dylib
0x36496000 - 0x364a6fff  libbsm.0.dylib armv6  &lt;44ee6b2c59cd5aa70d59f7d0d0d3b0b2&gt; /usr/lib/libbsm.0.dylib
0x364c1000 - 0x3655ffff  LDAP armv6  &lt;c4d5a8dc449ceb89f87d531496c8e792&gt; /System/Library/PrivateFrameworks/LDAP.framework/LDAP
0x36596000 - 0x365c0fff  MobileQuickLook armv6  &lt;86abc9b6fb4a37a971d7f6b290bb3e9d&gt; /System/Library/PrivateFrameworks/MobileQuickLook.framework/MobileQuickLook
0x3661a000 - 0x36620fff  AccountSettings armv6  &lt;14bd77206c288b9561e316817c89bf57&gt; /System/Library/PrivateFrameworks/AccountSettings.framework/AccountSettings
0x36646000 - 0x3664cfff  ProtocolBuffer armv6  &lt;7363aae30e9ba82d9eb1445d1d80398d&gt; /System/Library/PrivateFrameworks/ProtocolBuffer.framework/ProtocolBuffer
0x36932000 - 0x36935fff  ApplePushService armv6  &lt;1bbd5af2692486d6931940be24b6328b&gt; /System/Library/PrivateFrameworks/ApplePushService.framework/ApplePushService
0x36db6000 - 0x36dbdfff  MobileWiFi armv6  &lt;ca5c74a9a00bf823d21acbe4e12c36cf&gt; /System/Library/PrivateFrameworks/MobileWiFi.framework/MobileWiFi
0x36ebb000 - 0x36ef9fff  DAVKit armv6  &lt;edbd30dd8b12551043886ea0776575f5&gt; /System/Library/PrivateFrameworks/DAVKit.framework/DAVKit
0x36f1a000 - 0x36f22fff  SMSCTServer armv6  &lt;371aad96281d21f1ce1ca1b1b59b1fcf&gt; /System/Library/PrivateFrameworks/SMSCTServer.framework/SMSCTServer
0x36f75000 - 0x36f84fff  MobileDeviceLink armv6  &lt;58d1e0f460e85c5dd8cf63c7eb2fd1e9&gt; /System/Library/PrivateFrameworks/MobileDeviceLink.framework/MobileDeviceLink
0x36f8d000 - 0x36f97fff  DataDetectorsUI armv6  &lt;206a719159d6dc40e39b7d4cf1ca47ad&gt; /System/Library/PrivateFrameworks/DataDetectorsUI.framework/DataDetectorsUI
0x36f9f000 - 0x36fa5fff  Search armv6  &lt;bad19dbdea7f2b18e86ba1d4587a9b0f&gt; /System/Library/PrivateFrameworks/Search.framework/Search
0x36fac000 - 0x36fe7fff  ContentIndex armv6  &lt;fff8b63e92ec9a8fc72d4c06d1228741&gt; /System/Library/PrivateFrameworks/ContentIndex.framework/ContentIndex
0x37124000 - 0x3712efff  MobileCoreServices armv6  &lt;9adf227705e932c47e703f73ca1d87c2&gt; /System/Library/Frameworks/MobileCoreServices.framework/MobileCoreServices
0x3748a000 - 0x374f3fff  libstdc++.6.dylib armv6  &lt;44d54be7409eedbf35157cc538ea660b&gt; /usr/lib/libstdc++.6.dylib
0x37c74000 - 0x37c74fff  Accelerate armv6  &lt;e3325738fdc407edc125d921d2a90839&gt; /System/Library/PrivateFrameworks/Accelerate.framework/Accelerate
0x37cc8000 - 0x37d0bfff  libvDSP.dylib armv6  &lt;5632d3e7799c5c90540157938bce4b95&gt; /System/Library/PrivateFrameworks/Accelerate.framework/Frameworks/vecLib.framework/libvDSP.dylib
0x37d12000 - 0x37d12fff  vecLib armv6  &lt;eb68bab288e9f047d876848490b162fc&gt; /System/Library/PrivateFrameworks/Accelerate.framework/Frameworks/vecLib.framework/vecLib
</string>
	<key>displayName</key>
	<string>SpringBoard</string>
	<key>name</key>
	<string>SpringBoard</string>
	<key>os_version</key>
	<string>iPhone OS 3.0 (7A341)</string>
	<key>system_ID</key>
	<string></string>
	<key>version</key>
	<string>??? (???)</string>
</dict>
</plist>
