Package: hk.kennytm.adkiller
Name: Ad Killer
Version: 0.1-11m
Architecture: iphoneos-arm
Description: Ad Killer
Homepage: http://code.google.com/p/networkpx/wiki/Using_AdKiller
Maintainer: KennyTM~ <kennytm+AdKiller@gmail.com>
Author: KennyTM~ <kennytm+AdKiller@gmail.com>
Section: System
Depends: mobilesubstrate (>=0.9-0)
Installed-Size: 16
Support: http://code.google.com/p/networkpx/wiki/FAQ
dev: kennytm
