Package: hk.kennytm.mathtyper
Name: MathTyper
Version: 0.1-4
Architecture: iphoneos-arm
Description: Keyboard extension for typing mathematical symbols easily
Homepage: http://code.google.com/p/networkpx/wiki/Using_MathTyper
Depiction: http://moreinfo.thebigboss.org/moreinfo/mathtyperDp.php
Maintainer: KennyTM~ <kennytm+MathTyper@gmail.com>
Author: KennyTM~ <kennytm+MathTyper@gmail.com>
Section: Toys
Depends: hk.kennytm.iKeyEx (>=0.1-3)
Installed-Size: 12
dev: kennytm
