Package: hk.kennytm.l33ttyper
Name: L33tTyper
Version: 0.1-3
Architecture: iphoneos-arm
Description: Auto transliterate Latin alphabet to leet
Depiction: http://moreinfo.thebigboss.org/moreinfo/leettyperDp.php
Homepage: http://code.google.com/p/networkpx/wiki/Using_L33tTyper
Maintainer: KennyTM~ <kennytm+L33tTyper@gmail.com>
Author: KennyTM~ <kennytm+L33tTyper@gmail.com>
Section: Toys
Depends: hk.kennytm.iKeyEx (>=0.1-3)
Installed-Size: 28
dev: kennytm
