Package: hk.kennytm.multitap
Name: MultiTap Keyboard
Version: 0.1-3
Architecture: iphoneos-arm
Description: MultiTap is a text entry system using just phone pad.
Homepage: http://code.google.com/p/networkpx/wiki/Using_MultiTap
Maintainer: KennyTM~ <kennytm+MultiTap@gmail.com>
Author: KennyTM~ <kennytm+MultiTap@gmail.com>
Section: System
Depends: hk.kennytm.iKeyEx (>=0.0-1)
Installed-Size: 28
dev: kennytm
