---- NOT PRODUCTION READY ----

Package: hk.kennytm.PathTyper
Name: PathTyper
Version: 0.1-3
Architecture: iphoneos-arm
Description: Input manager to ease file path typing. 
Homepage: http://code.google.com/p/networkpx/
Maintainer: KennyTM~ <kennytm+PathTyper@gmail.com>
Author: KennyTM~ <kennytm+PathTyper@gmail.com>
Section: System
Depends: hk.kennytm.iKeyEx (>=0.0-3)
