Package: hk.kennytm.ikeyex
Name: iKeyEx
Version: 0.1-9c
Architecture: iphoneos-arm
Description: iKeyEx is a MobileSubstrate-based keyboard extension framework for the iPhoneOS.
Homepage: http://code.google.com/p/networkpx/
Maintainer: KennyTM~ <kennytm+iKeyEx@gmail.com>
Author: KennyTM~ <kennytm+iKeyEx@gmail.com>
Section: System
Depends: mobilesubstrate (>=0.9-0)
Instanlled-Size: 556
Tag: role::developer purpose::library
dev: kennytm
