Package: hk.kennytm.iKeyEx
Name: iKeyEx
Version: 0.0-1
Architecture: iphoneos-arm
Description: iKeyEx is a MobileSubstrate-based keyboard extension framework for the iPhoneOS 2.2.
Homepage: http://code.google.com/p/networkpx/
Maintainer: KennyTM~ <kennytm+iKeyEx@gmail.com>
Author: KennyTM~ <kennytm+iKeyEx@gmail.com>
Section: Keyboard Extension
Depends: mobilesubstrate (>=0.9-0)
